# Never add Anchorhead story file to repository; Anchorhead is licensed "freeware" so
# it can't be distributed without limitations (even though a .z8 file isn't source).
*anchor*.z[0-9]

# Story save files:
*_save.qz

# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
exiled_cli-*.tar

# Rust binary artifacts
/target/
/encrusted_cli/target/
/native/encrusted_nif/target/
*.so
